/* h1 {
  color: rgba(144, 199, 132, 0.858);
  background-color: #ff0000
}

.parastyle1 {
  font-size: 50px;
}

#id1 {
  color: #ff0000;
}

#id2 {
  color: aqua;
}

#id3 {
  color: #ff0000;
}
.parastyle2 {
  color: red;
} */